.tooltip-source {
  width: 100%;
  display: grid;
  border-top: 2px solid #000000;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 20px;
  line-height: 24px;
}

.tooltip-source__question-mark {
  width: 41px;
}

.tooltip-source__source__label {
  display: block;
}

.tooltip-source__source__link {
  color: #7F7F7F;
  display: block;
  text-decoration: none;
}