.container {
  width: 100%;
  display: grid;
  border-top: 1px solid #000000;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 20px;
  line-height: 24px;
  margin-top: auto;
  padding-top: 20px;
}

@media (min-width: 850px) {
  .container {
    padding-top: 40px;
  }
}

.questionMark {
  width: 40px;
}

.sourceLabel {
  display: block;
}

.sourceLink {
  color: #7F7F7F;
  display: block;
  text-decoration: none;
  word-break: break-word;
}