.title-text-tooltip {
  display: inline;
  border-bottom: 1px solid #000000;
}

.title-text-tooltip__icon {
  display: inline-flex;
  width: 0.667em;
  margin-left: 8px;
}

.tippy-tooltip.tippy-tooltip {
  padding: 13px 10px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: 0;
}

.tippy-backdrop.tippy-backdrop {
  background-color: #000000;
}