.container {
  margin-top: 40px;
}

.slider {
  margin-left: calc(var(--outer-gutter) * -1);
  margin-right: calc(var(--outer-gutter) * -1);
  padding-left: var(--outer-gutter);
  padding-right: var(--outer-gutter);
}

.tray {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.slideContainer {
  height: auto;
  width: 100% !important;
  padding: 0 !important;
  float: none;
}

.slide {
  padding-right: 20px;
  position: relative; 
  display: flex;
  flex-direction: column;
}

.slide .image {
  border: 1px solid #000000;
  border-bottom: 0;
  position: relative;
}

.slide .image:before {
  content: '';
  display: block;
  padding-bottom: 43%;
}

.slide .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide .text {
  padding: 20px;
  border: 1px solid #000000;
  flex: 1;
}

.slide .title {
  margin: 0;
}

.slide .body {
  display: none;
}

@media (min-width: 560px) {
  .slide .body {
    display: initial;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 40px;
}

.button {
  color: #000000;
  border: 1px solid currentColor;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button[disabled] {
  opacity: 0.25;
}
