.container {
  position: sticky;
  top: 0;
  z-index: var(--navbar--z-index);
  background: #FFFFFF;
  /* this is so our background extends to the edges */
  margin-left: calc(var(--outer-gutter) * -1);
  margin-right: calc(var(--outer-gutter) * -1);
  margin-bottom: 20px;
  padding-left: var(--outer-gutter);
  padding-right: var(--outer-gutter);
  height: var(--navbar--height);
}

@media (max-width: 849px) {
  .container {
    --nav--opacity: 0;
    --nav--pointer-events: none;
    --toggle__line--rotation: 0deg;
    --toggle__line--shift-y: 0px;
  }

  .container[data-is-open="true"] {
    --nav--opacity: 1;
    --nav--pointer-events: auto;
    --toggle__line--rotation: 45deg;
    --toggle__line--shift-y: 5px;
  }
}

@media (min-width: 850px) {
  .container {
    margin-bottom: 30px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--site--max-width);
  height: 100%;
  margin: auto;
  border-bottom: 1px solid #000000;
}

.title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 14px;
  height: 14px;
  margin-right: 14px;
  background-image: url('/static/img/logo-mobile@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media (min-width: 850px) {
  .logo {
    background-image: url('/static/img/logo-desktop@2x.png');
    width: 74px;
    height: 14px;
  }
}

.logoText {
  position: absolute; 
  left: -10000px; 
  top: auto; 
  width: 1px; 
  height: 1px; 
  overflow: hidden;
}

.toggle {
  width: 30px;
  height: 30px;
}

@media (min-width: 850px) {
  .toggle {
    display: none;
  }
}

.toggleIcon {
  overflow: visible;
}

.toggleLine {
  transform-origin: var(--toggle__line--center-x) var(--toggle__line--center-y);
  transition: transform 200ms ease-in-out;
}

.toggleLine.first {
  transform: translateY(var(--toggle__line--shift-y)) rotate(var(--toggle__line--rotation));
}

.toggleLine.second {
  transform: translateY(calc(var(--toggle__line--shift-y) * -1)) rotate(calc(var(--toggle__line--rotation) * -1));
}

@media (max-width: 849px) {
  .nav {
    position: fixed;
    top: var(--navbar--height);
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: var(--outer-gutter);
    padding-right: var(--outer-gutter);
    background-color: #FFFFFF;
    opacity: var(--nav--opacity);
    z-index: var(--nav--z-index);
    transition: opacity 200ms ease-out;
    pointer-events: var(--nav--pointer-events);
  }
}

@media (min-width: 850px) {
  .nav {
    display: inline-flex;
  }
}

.navLink {
  display: flex;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  margin-top: 25px;
  position: relative;
  white-space: nowrap;
}

@media (min-width: 850px) {
  .navLink {
    margin-top: 0px;
    margin-left: 45px;
  }
}

.navLink:after {
  --size: 8px;
  content: '';
  position: absolute;
  height: var(--size);
  width: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: transparent;
  opacity: 0.8;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 4px;
}

@media (min-width: 850px) {
  .navLink:after {
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 3px;
  }
}

.navLink[data-active="true"] {
  color: #1443A7;
}

.navLink[data-active="true"]:after {
  background-color: #1443A7;
}

.navLink .icon {
  margin-left: 6px;
  width: 18px;
}
