.container {
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  pointer-events: auto;
}

.container + .container {
  margin-top: 12px;
}

@media (min-width: 560px) {
  .container {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 850px) {
  .container {
    font-size: 24px;
    line-height: 32px;
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 160px 24px;
  align-items: center;
  grid-column-gap: 14px;
}

.value {
  text-align: right;
}

.unit {
  text-align: right;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}

.link svg {
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.container:hover .link svg {
  transform: translate3d(25%, 0, 0);
}
