.databar__item {
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
}

@media (min-width: 560px) {
  .databar__item {
    font-size: 24px;
    line-height: 32px;
  }
}

.databar__item__wrapper {
  display: grid;
  grid-template-columns: 20px 1fr 100px 100px 24px;
  align-items: center;
  grid-column-gap: 14px;
}

.databar__item__value {
  text-align: right;
}

.databar__item__unit {
  text-align: right;
}

.databar__item__link {
  text-decoration: none;
  color: inherit;
  pointer-events: auto;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}

.databar__item__link svg {
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.databar__item:hover .databar__item__link svg {
  transform: translate3d(25%, 0, 0);
}