.databar__item {
  /* <button /> reset */
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-smoothing: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  text-align: inherit;

  font-size: 18px;
  font-weight: 300;
  margin: var(--databar__spacing-v) var(--databar__spacing-h);
  white-space: nowrap;
}

.databar__item:hover {
  color: #0073E5;
}

.databar__item__icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}

.databar__item__icon svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.databar__item__icon svg path,
.databar__item__icon svg circle,
.databar__item__icon svg polygon {
  fill: currentColor;
}

.databar__item__label {
  display: inline-block;
}

.databar__item__value {
  display: inline-block;
}

.databar__item__unit {
  color: #AAAAAA;
}