.databar__item {
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  color: inherit;
}

.databar__item:hover {
  color: #0073E5;
}

.databar__item__label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.databar__item__value {
  font-size: 2em;
}

.databar__item__unit {
  font-size: 0.5em;
  vertical-align: super;
  margin-left: 2px;
}