.graphs-date-filter {
  background-color: #CCCCCC;
  border-radius: 4rem;
  padding: 1em;
  display: inline-flex;
}

.graphs-date-filter__input {
  display: none;
}

.graphs-date-filter__label {
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.graphs-date-filter__input[type="radio"]:checked + .graphs-date-filter__label {
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 4rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
