.graphs-date-filter {
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.graphs-date-filter__input {
  display: none;
}

/*
 * Most of the below styles copied/derived from .navbar__nav__link.
 * Did not have time to refactor out to shared styles.
 * Note that their responsive styles diverge a bit on mobile.
 */
.graphs-date-filter__label {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  margin-right: 25px;
  position: relative;
  white-space: nowrap;
  padding-bottom: 12px;
}

.graphs-date-filter__label:after {
  --size: 8px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--size);
  width: var(--size);
  border-radius: calc(var(--size) / 2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: transparent;
  opacity: 0.8;
}

@media (min-width: 560px) {
  .graphs-date-filter__label  {
    margin-right: 45px;
  }
}

.graphs-date-filter__input[type="radio"]:checked + .graphs-date-filter__label {
  color: #1443A7;
}

.graphs-date-filter__input[type="radio"]:checked + .graphs-date-filter__label:after {
  background-color: #1443A7;
}
