.tooltip {
  --tooltip-padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  padding: var(--tooltip-padding);

  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  color: #000000;

  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

@media (min-width: 850px) {
  .tooltip {
    --tooltip-padding: 40px;
    width: 50%;
  }
}

.tooltip[data-active="true"] {
  transform: translateX(0%);
  pointer-events: auto;
}

.tooltip__inner {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex-grow: 1;
  position: relative;
  padding: var(--tooltip-padding) var(--tooltip-padding) var(--tooltip-padding) 0px;
  border: 1px solid #000000;
  border-left: 0;
}

.tooltip__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.tooltip__close-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;

  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tooltip__close-button svg {
  height: 100%;
  width: 100%;
}

.tooltip__icon {
  width: 20px;
}

.tooltip__heading {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.tooltip__header {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.tooltip__value {
  margin-left: auto;
  font-size: 24px;
}

.tooltip__body {
  max-width: 37.5em;
  overflow: auto;
}

.tooltip__body p {
  font-size: 16px;
  line-height: 1.5;
}

.tooltip__link {
  display: inline-block;
  margin-top: 16px;
}