.tooltip {
  --tooltip-padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--tooltip--z-index);
  width: 100%;
  padding: var(--tooltip-padding);

  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  color: #000000;

  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in;
}

@media (min-width: 850px) {
  .tooltip {
    --tooltip-padding: 40px;
    width: 50%;
    top: var(--navbar--height);
  }
}

.tooltip hr {
  width: 100%;
  height: 2px;
  border: 1px solid rgb(0, 0, 0);
}

.tooltip[data-active="true"] {
  opacity: 1;
  pointer-events: auto;
}

.tooltip__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

@media (min-width: 850px) {
  .tooltip__inner {
    padding: var(--tooltip-padding) var(--tooltip-padding) var(--tooltip-padding) 0px;
    border: 1px solid #000000;
    border-left: 0;
  }
}

.tooltip__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media (min-width: 850px) {
  .tooltip__close-button-wrapper {
    margin-bottom: 30px;
  }
}

.tooltip__close-button {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tooltip__icon {
  width: 20px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.tooltip__heading {
  display: flex;
  align-items: center;
}

.tooltip__header {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 850px) {
  .tooltip__header {
    font-size: 24px;
  }
}

.tooltip__value {
  margin-left: auto;
  font-size: 16px;
}

@media (min-width: 850px) {
  .tooltip__value {
    font-size: 24px;
  }
}

.tooltip__body {
  max-width: 37.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tooltip__body p {
  font-size: 16px;
  line-height: 24px;
}

.tooltip__link {
  display: inline-block;
  margin-top: 16px;
}