.container {
  --tooltip-padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--tooltip--z-index);
  width: 100%;
  padding: var(--tooltip-padding);

  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  color: #000000;

  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in;
}

@media (min-width: 960px) {
  .container {
    --tooltip-padding: 40px;
    width: 50%;
    top: var(--navbar--height);
  }
}

.container[data-active="true"] {
  opacity: 1;
  pointer-events: auto;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 850px) {
  .inner {
    padding: var(--tooltip-padding) var(--tooltip-padding) var(--tooltip-padding) 0px;
    border: 1px solid #000000;
    border-left: 0;
  }
}

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media (min-width: 850px) {
  .closeButtonWrapper {
    margin-bottom: 30px;
  }
}

.closeButton {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heading {
  display: flex;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 850px) {
  .header {
    font-size: 24px;
  }
}

.disclaimer {
  width: 27px;
  margin-left: 10px;
}

.legend {
  margin-top: 60px;
}

.value {
  margin-left: auto;
  font-size: 16px;
}

@media (min-width: 850px) {
  .value {
    font-size: 24px;
  }
}

.body {
  font-size: 16px;
  line-height: 24px;
  max-width: 37.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 8px;
}

.body h4 + p {
  margin-top: 0;
}

.link {
  display: inline-block;
  margin-top: 16px;
}
