.title-text {
  display: none;
  font-family: 'Styrene A';
  grid-area: title-text;
  font-weight: 400;
  margin: 0;
  z-index: var(--title-text--z-index);
  align-self: flex-start;
}

@media (min-width: 560px) {
  .title-text {
    display: initial;
    font-size: 36px;
    line-height: 45px;
  }
}