.title-text {
  position: relative;
  z-index: var(--title-text--z-index);
  align-self: flex-start;
}

.title-text__title {
  font-family: 'Styrene A';
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  grid-area: title-text;
  margin: 0;
}

@media (min-width: 540px) {
  .title-text__title {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 1200px) {
  .title-text__title {
    font-size: 36px;
    line-height: 45px;
  }
}

.title-text__title > span {
  display: block;
}

.title-text__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 21px;
  margin-top: 20px;
}

@media (min-width: 560px) {
  .title-text__button {
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
  }
}

.title-text__button__icon {
  width: 24px;
  margin-left: 14px;
}
