.title-text {
  font-family: 'Styrene A';
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  grid-area: title-text;
  margin: 0;
  z-index: var(--title-text--z-index);
  align-self: flex-start;
}

@media (min-width: 560px) {
  .title-text {
    font-size: 36px;
    line-height: 45px;
  }
}