.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "image" "text";
  grid-row-gap: 40px;
}

.container + .container {
  margin-top: 70px;
}

@media (min-width: 560px) {
  .container {
    align-items: center;
    /* TODO: This grid should be same as index page grid. anyway to abstract these out? */
    grid-column-gap: 120px;
    grid-row-gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: "text image";
  }

  .container + .container {
    margin-top: 165px;
  }

  .container[data-side="right"] {
    grid-template-areas: "image text";
  }
}

.image {
  grid-area: image;
}

@media (min-width: 560px) {
  .container[data-side="left"] .image {
    margin-right: -120px;
  }

  .container[data-side="right"] .image {
    margin-left: -120px;
  }
}

.text {
  grid-area: text;
}

.text .title {
  font-family: 'Styrene A';
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 560px) {
  .text .title {
    margin-bottom: 28px;
  }
}

.body p {
  font-size: 16px;
  line-height: 24px;
}

