.container {
  display: flex;
  opacity: var(--page-state-1-opacity);
  pointer-events: var(--page-state-1-pointer-events, auto);
  transition: opacity 1s;
  position: relative;
  z-index: var(--data-range-picker--z-index);
}

@media (max-width: 559px) {
  .container {
    flex-direction: column;
    align-self: flex-end;
  }
}

@media (min-width: 560px) {
  .container {
    justify-self: flex-start;
  }
}

.sliderContainer {
  position: relative;
  width: 100%;
}

.handleLabel {
  position: absolute;
  left: -80px;
  bottom: 100%;
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

@media (min-width: 560px) {
  .handleLabel {
    top: 0;
    left: 100%;
    bottom: auto;
    margin-top: -0.6em;
    margin-left: 12px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.handleLabel[data-visible="true"] {
  opacity: 1;
}

.slider {
  width: 100%;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
}

@media (min-width: 560px) {
  .labels {
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
    margin-left: 12px;
    margin-top: -0.6em;
  }
}
