.data-range-picker {
  display: flex;
  padding-top: 32px;
  max-width: 600px;
}

.data-range-picker__slider-container {
  flex-grow: 1;
  position: relative;
}

.data-range-picker__current-time {
  position: absolute;
  bottom: 100%;
  margin-bottom: 8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  text-align: center;
}

.data-range-picker__slider {
  width: 100%;
}

.data-range-picker__label:first-child {
  margin-right: 16px;
}

.data-range-picker__label:last-child {
  margin-left: 16px;
}