.container {
  display: none;
  grid-area: databar;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  z-index: var(--databar--z-index);
  opacity: var(--page-state-1-opacity);
  pointer-events: var(--page-state-1-pointer-events, auto);
  transition: opacity 1s;
}

@media (min-width: 560px) {
  .container {
    display: flex;
    border-left: 1px solid #000000;
    padding-left: 40px;
    justify-content: space-between;
  }
}
