.databar {
  grid-area: databar;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  z-index: var(--databar--z-index);
  opacity: var(--page-state-2-opacity);
  transition: opacity 1s;
}

@media (min-width: 560px) {
  .databar {
    border-left: 1px solid #000000;
    padding-left: 40px;
    justify-content: space-between;
  }
}
