.svg-visualization {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.svg-visualization svg {
  width: 100%;
  height: 100%;
}

@keyframes svg-data-point-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50%, 90% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.svg-visualization__data-point-wrapper {
  --transition-distance: 10%;
  --transition-duration: 3s;
  transition: transform-origin 0.3s 0.1s ease-in-out;
  animation: svg-data-point-animation var(--transition-duration) infinite linear;
  transform-origin: var(--circle--x, 50%) var(--circle--y, 50%);
}

.svg-visualization__data-point {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s 0.1s ease-in-out;
  transform: translate3d(var(--circle--x), var(--circle--y), 0) scale(var(--circle--radius));
  /* transform-origin: var(--circle--x, 50%) var(--circle--y, 50%); */
}

.svg-visualization__data-point:hover {
  /* transform: scale(1.2); */
  z-index: 1000;
}