html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
  color: #FAFAFA;
}

p {
  line-height: 1.5;
  max-width: 48em;
}

h1 {
  font-size: 68px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 52px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.wrapper {
  padding-left: 80px;
  padding-right: 40px;
  position: relative;
  z-index: 2;
}

.shaded-wrapper {
  background-color: #1D1D1D;

  /* Uncollapse margin hack */
  display: inline-block;
  width: 100%;
}

.shaded-wrapper:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 100%;
  height: 200px;
  background: linear-gradient(transparent, #1D1D1D);
}

.shaded-wrapper:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  height: 200px;
  background: linear-gradient(#1D1D1D, transparent);
}

.spacer {
  height: 100vh;
}