@font-face {
  font-family: 'Styrene A';
  font-weight: 400;
  font-style: normal;
  /* TODO: This is a test version of the woff2 font file. We still need to purchase a real license */
  src: url('/static/fonts/StyreneA-Regular-Test.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene B';
  font-weight: 400;
  font-style: normal;
  /* TODO: This is a test version of the woff2 font file. We still need to purchase a real license */
  src: url('/static/fonts/StyreneB-Regular-Test.woff2') format('woff2');
}

:root {
  --svg-visualization--z-index: 0;
  --title-text--z-index: 1;
  --data-range-picker--z-index: 1;
  --databar--z-index: 1;
  --navbar__nav--z-index: 2;
  --navbar--z-index: 3;
  --tooltip--z-index: 4;

  --navbar--height: 62px;
}

@media (min-width: 560px) {
  :root {
    --navbar--height: 105px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Styrene B', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
}

button {
  /* <button /> reset */
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-smoothing: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  text-align: inherit;
}

a {
  color: inherit;
}

a:hover {
  color: #808080;
}

p {
  line-height: 1.5;
  max-width: 48em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.page {
  --outer-gutter: 20px;
  padding-left: var(--outer-gutter);
  padding-right: var(--outer-gutter);
  padding-bottom: var(--outer-gutter);
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

@media (min-width: 560px) {
  .page {
    --outer-gutter: 40px;
  }
}

.container[data-template='IndexPage'] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page[data-template='index'] {
  display: grid;
  grid-template-areas: "title-text" "scrubber";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 200px minmax(0, 1fr);
  position: relative;
  flex: 1;
}

@media (min-width: 560px) {
  .page[data-template='index'] {
    grid-column-gap: 60px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 300fr) minmax(0, 400fr);
    grid-template-areas:
      "title-text databar"
      "scrubber databar";
  }
}

@media (min-width: 1200px) {
  .page[data-template='index'] {
    grid-column-gap: 120px;
  }
}

.page[data-page-state="0"] {
  --page-state-1-opacity: 0;
  --page-state-2-opacity: 0;
}

.page[data-page-state="1"] {
  --page-state-1-opacity: 1;
  --page-state-2-opacity: 1;
}

/* utilities */

@media (max-width: 559px) {
  .u-hide-mobile {
    display: none;
  }
}

@media (min-width: 560px) {
  .u-hide-desktop {
    display: none;
  }
}