.visualization {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.visualization__bottom {
  display: grid;
  grid-gap: 16px;
  padding: 32px 24px;
  max-width: 1000px;
}

.visualization__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.visualization canvas {
  height: 100%;
  width: 100%;
}